.main {
    -fx-background-color: linear-gradient(to bottom, #101010, #121212);

}

.border {
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-margin: 24px;
}

.custom-text-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: #1ABC9C;

    -fx-font-size: 18px;
}

.text-area {
    -fx-border-color: #3E1348;
    -fx-border-width: 0;
    -fx-text-fill: #fff;
}

.text-area .content {
    -fx-background-color: #3E1348;
    -fx-border-width: 0;
}

.text-area:focused .content {
    -fx-background-color: #3E1348;
}

.text-white {
    -fx-text-fill: white;
}

.main > * {
    color: green;
}